:root {
    --bg-color: #1e1f21;
    --sidebar-bgcolor: #2e2e30;
    --overlay-bgcolor: #2e2e30b9;
    --navbar-bgcolor: var(--sidebar-bgcolor);
    --danger-color: rgb(220, 38, 38);
    --color-text: #f5f4f3;
    --color-text-active: #f5f4f3;
    --color-text-disabled: #6a696a;
    --color-text-weak: #a2a0a2;
    --color-icon: #a2a0a2;
    --color-icon-rgb: 162, 160, 162;
    --color-icon-foreground: #f5f4f3;
    --color-icon-hover: #f5f4f3;
    --color-icon-disabled: #6a696a;
    --color-border: #424244;
    --color-background-weak: #1e1f21;
    --color-background-weak-hover-deprecated: #2a2b2d;
    --color-background-hover: rgba(255, 255, 255, 0.06);
    --color-background-active: rgba(255, 255, 255, 0.11);
    --color-background-active-two: rgba(255, 255, 255, 0.20);
    --color-background-active-three: rgba(255, 255, 255, 0.00);
}

* {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

.active {
    color: red;
}

body {
    background-color: var(--bg-color);
    /* background-color: red; */
}

hr {
    color: #575756;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-text-weak);
    transition: color 0.3s ease;
}

li {
    list-style-type: none;
}

p {
    color: var(--color-text);
}

table {
    border-collapse: collapse;
}

option,
select {
    border-radius: 5px;
    height: 35px;
    color: var(--color-text);
    background-color: var(--color-background-weak);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(40%) sepia(80%) saturate(2000%);
}

.indicate-danger,
.indicate-danger p,
.indicate-danger li,
button.indicate-danger {
    color: var(--danger-color);
}

.input-style,
.textarea-style textarea,
textarea#task_description,
textarea#description,
textarea#about,
.select-style,
.invite-popup .input-style {
    background-color: var(--color-background-weak-hover-deprecated);
    border-radius: 5px;
}

.input-style {
    outline: none;
    border: 0;
    width: 100%;
    resize: none;
    padding-left: 5px;
    color: var(--color-text);
    font-family: inherit;
}

.input-style:hover {
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.input-style:focus {
    border: 1px solid var(--color-text);
    border-radius: 5px;
}

.textarea-style textarea {
    resize: none;
    outline: 0;
    border: 0;
    width: 100%;
    padding-left: 5px;
    color: var(--color-text);
    font-family: inherit;
}

.textarea-style textarea:hover {
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.textarea-style textarea:focus {
    border: 1px solid var(--color-text);
    border-radius: 5px;
}

.textarea-style textarea::-webkit-scrollbar {
    width: 5px;
}

/* Style the scrollbar track */
textarea::-webkit-scrollbar-track {
    border-radius: 5px;
}

.textarea-wrapper {
    border: 0;
    position: relative;
}

#charCount {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--color-text-disabled);
    display: none;
}

.select-style {
    outline: none;
    border: 0;
    resize: none;
    padding-left: 5px;
    color: var(--color-text);
    font-family: inherit;
}

.select-style:hover {
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.select-style:focus {
    border: 1px solid var(--color-text);
    border-radius: 5px;
}

.button-style {
    outline: 0;
    padding: 3px 8px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.button-style:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

.button-style-w-danger {
    outline: 0;
    padding: 3px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.button-style-w-danger:hover {
    background-color: var(--color-background-hover);
}

/* Define the animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-style {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.sticky-heading {
    position: sticky;
    top: 67;
    background-color: inherit;
    transition: top 0.3s ease;
    z-index: 999;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.warning-style {
    font-family: inherit;
    font-size: 22px;
    font-weight: 300;
    color: var(--danger-color);
    padding: 8px 256px;
    height: 87vh;
}

.related-btn-img {
    display: flex;
    align-items: center;
}

.related-btn-img img {
    width: 20px;
    margin-right: 5px;
}

.square {
    position: relative;
    display: inline-block;
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: -1px;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 13px;
    height: 13px;
    opacity: 0.6;

}

.overlay-border {
    border: 1px solid #575756;
    border-radius: 5px;
    width: fit-content;
}

.div-space-top {
    margin-top: 10px;
}

.bottom-line {
    width: 100%;
    border-bottom: 1px solid var(--color-border);
}

.access-denied-container {
    color: var(--color-text);
    background-color: var(--bg-color);
    position: relative;
    margin: 150px auto;
    padding: 15px;
    width: 710px;
    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    color: var(--color-text);
}

.access-denied-container a {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 900;
}

.access-denied-container #countdown {
    display: inline;
    text-decoration: underline;
}

.access-denied-container .countdown {
    display: inline;
}

.btn-style {
    outline: 0;
    padding: 3px 8px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.btn-style:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

.between-verticle-line li:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: var(--color-text-disabled);
    top: 28%;
    right: 0;
}

.heading-style {
    margin-bottom: 8px;
    font-family: inherit;
    font-size: 20px;
    color: var(--color-text);
}

.navbar {
    background-color: var(--navbar-bgcolor);
    color: var(--navbar-color);
    padding: 5px 10px 0;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 9999;
}

.search__container {
    width: 430px;
    margin: 0 auto;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text);
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 24px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 5px;
    background-color: var(--color-navigation-search-background);
    background-position: 95% center;
}

.create-project-btn {
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
}

.create-project-btn:hover {
    background-color: var(--color-background-weak);
}

.svg-img img {
    width: 20px;
    border: 0;
    border-radius: 50px;
    margin-right: 8px;
}

.container {
    background-color: var(--bg-color);
    display: flex;
}

/* sidebar */
.project-lst {
    font-family: inherit;
    font-size: 14px;
}


.project-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.project-link .square {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    margin-right: 5px;
}

.project-scroll-container {
    max-height: 400px;
    overflow-y: auto;
}

.project-scroll-container::-webkit-scrollbar {
    width: 5px;
}

.project-scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2.5px;
}

.heading {
    font-size: 14px;
    color: var(--color-text);
}

.main-content {
    flex: 1;
    /* min-height: 87.5vh; */
    /* width: 85%; */
    background-color: var(--bg-color);
    margin-left: 255px;
    padding: 8px 15px;
}

.main-content_large {
    width: 90%;
}

.navbar button {
    margin-right: 10px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Home */
.daydate-greet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

#greeting {
    font-size: 32px;
    color: var(--color-text);
    text-align: center;
}

#date {
    font-size: 24px;
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
}

/* Inbox */
.heading-nav {
    color: var(--color-text);
    margin-right: 8px;
    font-size: 14px;
    position: relative;
    padding-right: 10px;
}

.send-msg-content {
    margin-right: 4px;
}

.send-message-btn {
    font-size: 13.3333px;
}

.send-message-btn img {
    width: 15px;
}

/* My Tasks */
.mytasks-heading {
    font-size: 12px;
    font-family: inherit;
    color: var(--color-text-disabled);
}

.tasks table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 50px;
}

.tasks .subhead-task {
    text-align: left;
}

th.subhead-task {
    padding-left: 8px;
}

.incomplete-tasks-table {
    border-collapse: collapse;
    width: 100%
}

.tasks td,
.tasks th {
    border: 1px solid #999;
}

.tasks tr,
.tasks td {
    color: var(--color-text)
}

.tasks tr {
    font-size: 16px;
    font-family: inherit;
}

.tasks td {
    text-align: center;
    font-size: 14px;
    font-family: inherit;
}

.tasks .collapsed {
    display: table-row;
}

/* Project */

.members-list {
    display: flex;
    flex-wrap: wrap;
}

.member {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.member span {
    color: var(--color-text);
}

.project-desc-textarea textarea {
    border: 1px solid var(--color-border);
    width: 450px;
}

.userrole-popup-container {
    color: var(--color-text);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 1000;
}

.userole-close-popup {
    position: absolute;
    top: -5;
    right: 110;
    font-size: 20px;
    color: var(--color-text);
    cursor: pointer;
    z-index: 999;
}

.userole-close-popup:hover {
    color: var(--color-text-weak);
}

.member #popup-btn {
    margin-left: 0;
    margin-right: 0;
    object-fit: cover;
}

#updateRoleButton {
    display: none;
}

.update_userrole .button-style {
    margin-left: 5px;
    padding: 0 1px;
}

.member .user-role {
    margin-top: -10px;
    padding: 0;
    font-size: 12px;
    color: var(--color-text-weak);
}

.userrole-popup-container .error-message {
    font-size: 13px;
    font-family: inherit;
}

.project-dropdown {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
}

.project-dropdown-menu-item {
    font-size: 16px;
    text-align: center;
}

.project-dropdown-menu-item:hover {
    background-color: var(--color-background-weak);
    border-radius: 5px;
}

.active-task {
    background-color: var(--color-background-active-two);
    font-weight: 900;
}

/* OTP Popup Styles */
.otp-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 999999999999;
    animation: fadeIn 0.3s ease-in-out forwards;

}

.otp-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 355px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.task-popup::-webkit-scrollbar {
    width: 5px;
}

.project-wrapper.project-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
    cursor: pointer;
}

.project-wrapper.square {
    width: 30px;
    height: 30px;
}

.project-wrapper>.overlay-image {
    width: 25px;
    height: 25px;
}

.error-message {
    color: red;
}

/* .lst-of-tasks .section-heading {

} */

.lst-of-tasks table {
    border-collapse: collapse;
    width: 100%;
}

.lst-of-tasks th {
    font-size: 14px;
    color: var(--color-text-disabled);
}

.lst-of-tasks th,
.lst-of-tasks td {
    border: 1px solid var(--color-border);
    padding: 8px;
    text-align: left;
}

.lst-of-tasks td {
    color: var(--color-text);
    cursor: pointer;
    max-width: 45px;
    font-size: 14.5px;
}

.collapsible {
    border: 1px solid var(--color-border);
    margin-bottom: 10px;
}

.collapsible h2 {
    position: sticky;
    z-index: 998;
    top: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-background-active);
    color: var(--color-text);
    backdrop-filter: blur(7px);
    transition: top 0.3s ease, background-color 0.3s ease;
}

.collapsible h2.active {
    background-color: var(--color-background-weak-hover-deprecated);
    color: var(--color-text-disabled);
}

.collapsible table {
    display: none;
}

.collapsible table.show {
    display: table;
}

/* Styles for the slide-in popup */
.task-popup {
    position: fixed;
    z-index: 99999;
    top: 145;
    right: -440px;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    background-color: var(--sidebar-bgcolor);
    color: var(--color-text);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

#editTaskForm input[type="text"],
#editTaskForm textarea,
#editTaskForm input[type="date"],
#editTaskForm select {
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--color-background-weak);
}

#editTaskForm input[type="date"] {
    padding-right: 20px;
    color: var(--color-text);
}

button#submitButton,
button#deleteButton,
button#closeButton {
    outline: 0;
    padding: 3px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

button#submitButton:hover,
button#deleteButton:hover,
button#closeButton:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

/* Show the slide-in popup */
.task-popup.active {
    right: 0;
}

.userrole-popup-content {
    position: relative;
    background-color: var(--sidebar-bgcolor);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding-top: 20px;
}

/* .userrole-popup-content a { */
.userrole-popup-content li {
    display: block;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    color: var(--color-text);
}

.userrole-popup-content .heading-style {
    font-size: 14px;
}

.userrole-popup-content li:hover {
    border-radius: 5px;
    background-color: var(--color-background-weak);
}

.remove-user-from-proj button {
    appearance: none;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 14px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="text"] {
    flex: 1;
    width: 100px;
}

.sortable {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
}

.invite-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.invite-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.invite-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

.invite-popup-close {
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: var(--color-text);
}

.invite-popup-close:hover {
    color: var(--color-text-weak);
}

.invite-popup .form-group {
    margin-bottom: 15px;
    font-size: 14px;
}

.invite-popup label {
    font-size: 16px;
    margin-bottom: 5px;
}

.invite-popup input[type="email"],
.invite-popup textarea {
    outline: 0;
    width: 100%;
    padding: 8px 5px;
    border-radius: 5px;
}

.email-exists-message {
    font-size: 13px;
}

.lst-of-tasks {
    max-height: 67vh;
    overflow-y: auto;
}

.border-around-plus {
    border: 1px solid #ccc;
    padding: 7px 11px;
    margin-right: 5px;
}

.addtask-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.addtask-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

.addtask-popup-close {
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.addtask-popup label {
    font-size: 14px;
    margin-bottom: 5px;
}

.addtask-popup textarea {
    width: 100%;
    padding: 8px 5px;
    background-color: var(--color-background-weak);
    color: var(--color-text);
}

.addtask-popup .editprofile-submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.user-role-container .user-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 15px 0;
    width: 170px;
    color: var(--color-text);
}

.user-role-container .user-content:hover {
    background-color: var(--color-background-hover);
    border-radius: 5px;
}

/* Styling for the user-role-container */
.user-role-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.addtask-popup .form-group {
    margin-bottom: 15px;
    font-size: 14px;
}

.add-member,
.add-member span {
    align-items: center;
    cursor: pointer;
    color: var(--color-text);
}

.profile-info {
    margin-top: -5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text);
}

.profile-info .user-role {
    color: var(--color-text-disabled);
    margin-top: -10px;
    font-size: 12px;
}


.dashboard-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--color-background-active);
    border: 1px solid var(--color-text-deactivate);
    border-radius: 5px;
    width: 230px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    font-weight: 900;
    color: var(--color-text)
}

.dashboard-item:hover {
    border: 1px solid var(--color-text-disabled);
}

.dashboard-item p {
    display: block;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 23px;
}

.dashboard-item span {
    color: var(--color-text);
    font-size: 25px;
}

/* create project form */
.project-container {
    display: flex;
    gap: 20px;
}

.project-container .right-container {
    width: 100%;
}

.project-container .right-container .project {
    max-height: 529px;
    overflow-y: auto;
}

.project-container .right-container .project-section {
    border: 0;
    padding: 5px;
    background-color: var(--sidebar-bgcolor);
}

.project-container .right-container .project::-webkit-scrollbar {
    width: 5px;
}

.project-container .project_create_form {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--sidebar-bgcolor);
}

#projectForm input,
#projectForm textarea,
#projectForm select {
    width: 400px;
    background-color: var(--bg-color);
}

/* profile */
#editProjectForm .form-group>input,
#editProjectForm .form-group>select {
    width: 100%;
}

.userinfo-profilepic {
    display: flex;
    flex-direction: row;
}

.profile-picture img,
.profile-picture #popup-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 100px;
}

.form-group .profile-picture img {
    width: 150px;
    height: 150px;
}

.user-personal-info {
    margin: 50px 0 0 20px;
    justify-content: center;
}

.user-personal-info .user-name p {
    font-size: 30px;
    color: var(--color-text);
}

.user-personal-info .user-email p {
    font-size: 14px;
    color: var(--color-text-weak);
}

.user-other-info {
    margin-top: 10px;
}

.user-other-info-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-about-project {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-other-info .about-section {
    width: 400px;
    height: 100%;
    overflow-wrap: anywhere;
}

.user-other-info .project-section {
    width: 400px;
    max-width: 400px;
}

.user-other-info .user-tasks,
.about-section,
.project-section {
    padding: 0 5px;
    background-color: var(--sidebar-bgcolor);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.user-other-info .heading-style {
    padding: 10px 0;
    margin-bottom: 0;
}

.user-other-info .user-tasks {
    width: 100%;
    flex: 2;
}

.edit-profile-btn {
    outline: 0;
    padding: 3px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.edit-profile-btn:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

input.d-none {
    display: none;
}

.profile-picture-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.change-pic-lbl {
    cursor: pointer;
    padding: 8px 3px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
    font-size: 13.3333px;
}

.change-pic-lbl:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

.editprofile-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.remove-profile-picture .button-style-w-danger {
    padding: 0 5px;
}

.editprofile-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

.editprofile-popup-close {
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.editprofile-popup .form-group {
    margin-bottom: 10px;
    font-size: 16px;
}

.editprofile-popup textarea {
    width: 100%;
    padding: 8px 5px;
    border-radius: 4px;
    background-color: var(--color-background-weak);
    color: var(--color-text);
}

.editprofile-popup .editprofile-submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.user-other-info .project {
    width: 100%;
    overflow-wrap: anywhere;
    overflow-y: auto;
    max-height: 380px;
}

.user-other-info .project::-webkit-scrollbar {
    width: 5px;
}

.user-project .project .project-lst {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.user-project .project .project-lst-name:hover {
    border: 0;
    border-radius: 5px;
    background-color: var(--color-background-weak);
}


.user-project .project-options {
    padding: 0 15px;
    display: flex;
    gap: 10px;
}

.user-project .project-options button {
    outline: 0;
    padding: 0 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.user-project .project-options button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

.editproject-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.editproject-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

.editproject-popup-close {
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.editproject-popup .form-group {
    margin-bottom: 15px;
    font-size: 14px;
}

.editproject-popup label {
    font-size: 14px;
    margin-bottom: 5px;
}

.editproject-popup textarea {
    width: 100%;
    padding: 8px 5px;
    border-radius: 4px;
    background-color: var(--color-background-weak);
    color: var(--color-text);
}

#deleteproject-popup {
    display: none;
    background-color: var(--overlay-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.deleteproject-popup-content {
    background-color: var(--color-background-weak);
    color: var(--color-text);
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    border-radius: 4px;
}

.deleteproject-popup-close {
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.deleteproject-popup .form-group {
    margin-bottom: 15px;
    font-size: 14px;
}

.task-list-container {
    max-height: 457px;
    overflow-y: auto;
}

.task-list-container::-webkit-scrollbar {
    width: 5px;
}

.task-list-container th {
    position: sticky;
    top: -1;
    background-color: var(--bg-color);
    transition: top 0.3s ease;

}

.task-list-container th,
.task-list-container td {
    border: 1px solid var(--color-border);
    padding: 5px;
    text-align: left;
}

.task-list-container td {
    font-size: 14px;
    width: 20%;
}


/* Login & Register */

#popup-btn {
    margin-left: auto;
    /* Move the button to the right */
    margin-right: 10px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Additional CSS for the navbar-right container */
.navbar-right {
    display: flex;
    align-items: center;
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: var(--sidebar-bgcolor);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-border);
    z-index: 9;
    top: 60px;
    border-radius: 5px;
    right: 40px;
}

.popup-menu a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    text-decoration: none;
    color: var(--color-text);
    text-align: center;
}

.popup-menu a p:hover {
    border-radius: 5px;
    background-color: var(--color-background-weak);
}

.popup_notify {
    display: none;
    position: fixed;
    bottom: 5%;
    left: 0;
    padding: 20px;
    background-color: var(--color-background-weak);
    color: var(--color-text);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #0063A7;
    border-radius: 5px;
    z-index: 9999;
}

.popup_notify.error {
    border-top: 5px solid var(--danger-color);
}

.loginregister-form-container .heading-style {
    margin: 0;
    padding: 0 20px;
}

.loginregister-form-container {
    position: relative;
    margin: 50px auto;
    padding: 15px;
    background: var(--color-background-weak);
    width: 350px;
    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    color: var(--color-text);
}

.LR-form {
    padding: 25px;
}

.LR-form .error-message {
    font-size: 12px;
}


.LR-form input[type="text"],
.LR-form input[type="text"],
.LR-form input[type="email"],
.LR-form input[type="password"] {
    outline: 0;
    color: var(--color-text);
    background-color: var(--sidebar-bgcolor);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    height: 40px;
    -moz-outline-style: none;
}

.LR-form input[type="text"]:focus,
.LR-form input[type="text"]:focus,
.LR-form input[type="email"]:focus,
.LR-form input[type="password"]:focus {
    border: 1px solid var(--color-text);
}

.LR-form p.status {
    margin: 0;
    padding: 0;
    color: green;
    font-size: 12px;
    /* Change the color to your preferred status color */
}

.LR-form input[type="text"].available,
.LR-form input[type="email"].available,
.LR-form input[type="password"].available {
    border-color: green;
    /* Change to your preferred green color */
}

.LR-form input[type="text"].taken,
.LR-form input[type="email"].taken,
.LR-form input[type="password"].taken {
    border-color: red;
    /* Change to your preferred green color */
}


.LR-form input[type="submit"]:disabled {
    color: var(--color-text-weak);
    background-color: var(--color-background-weak);
}

.LR-form input[type="submit"] {
    width: 100%;
    outline: 0;
    padding: 3px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background-hover);
    color: var(--color-text);
}

.LR-form input[type="submit"]:enabled:hover {
    background-color: var(--color-background-weak);

}

.LR-form #loginForm .error-message {
    font-size: 14px;
}