/* Style for the tab buttons */
.tab-btns {
    display: flex;
}

.tab-btn {
    cursor: pointer;
    background-color: var(--color-background-weak);
    color: var(--color-text-weak);
    border-radius: 5px 5px 0 0;
}

.tab-btn.active {
    color: var(--color-text-active);
    background-color: var(--color-card-background);
    position: relative;
    /* To position the indicator relative to the tab button */
}

.tab-btn:hover {
    color: var(--color-text-active);
    background-color: var(--color-card-background);
    position: relative;
    /* To position the indicator relative to the tab button */
}

/* Define the animation */
@keyframes slideIn {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/* Style for the active indicator */
.tab-btn.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: var(--color-text-active);
    border-radius: 5px 5px 0 0;
    animation: slideIn 0.3s ease-in-out;
    /* Apply the animation to the indicator */
}




/* Style for the tab content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}