{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

<h1>Register</h1>

<div class="main-content">
  <div class="loginregister-form-container">
    <div class="heading-content">
      <div class="heading-style">
        <p>User Registration</p>
      </div>
    </div>
    <div class="LR-form">
      <form id="registrationForm" action="" method="post">
        {% csrf_token %}

        <div class="form-group">
          <input type="text" placeholder="Name" id="name" name="name" required>
          <div id="nameError" class="error-message lr_error"></div>
        </div>
        <div class="div-space-top"></div>

        <div class="form-group">
          <input type="text" placeholder="Username" id="username" name="username" required>
          <div id="usernameError" class="error-message lr_error"></div>
        </div>
        <div class="div-space-top"></div>

        <div class="form-group">
          <input type="email" placeholder="Email" id="email" name="email" required>
          <!-- <div id="emailError" class="error-message lr_error"></div>  -->
        </div>
        <div class="div-space-top"></div>

        <div class="form-group">
          <input type="password" placeholder="Password" id="password" name="password" required>
          <div id="passwordError" class="error-message lr_error"></div> 
        </div>
        <div class="div-space-top"></div>


        <input type="submit" placeholder="" id="submitButton" value="Register">
        <div class="div-space-top"></div>
        <div class="div-space-top"></div>
        <div class="div-space-top"></div>
        <div class="div-space-top"></div>
        <div class="already">
          <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
      </form>
    </div>
  </div>


</div>

{% endblock %}